.fact-card {
    max-width: 500px;
    
    margin: 0px auto;
    width: 70%;
    border: 3px opaque green;
    
  }
  
  .fact-card-content {
    max-height: 150px;
    overflow: auto;
    margin-bottom: 0;
  }

  .fact-card-actions {
    margin: 0 auto;
    width: 50%;
  
    text-align: center;
  }



  .fact-text {
    margin-bottom: 30px;
  }