<mat-card class="fact-card">
    <img mat-card-image src="../../../assets/images/cat1.jpg">
    <mat-card-content class="fact-card-content">
      <p>
        cat facts will go here dude!cat facts will go here dude!cat facts will go here dude!
        cat facts will go here dude!cat facts will go here dude!cat facts will go here dude!
        cat facts will go here dude!cat facts will go here dude!cat facts will go here dude!
        cat facts will go here dude!cat facts will go here dude!cat facts will go here dude!
        cat facts will go here dude!cat facts will go here dude!cat facts will go here dude!
        cat facts will go here dude!cat facts will go here dude!cat facts will go here dude!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>