.fact-card {
    max-width: 500px;
    
    margin: 0px auto;
    width: 70%;
    border: 3px opaque green;
    
  }
  
  .fact-card-content {
    height: 100px;
    overflow: auto;
    margin-bottom: 0;
  }

  .fact-card-actions {
    margin: 0 auto;
    text-align: center;
    
  }

  .fact-card-image{
     object-fit:scale-down;
  }

  .fact-upvotes{
    position: absolute;
    top: 20px;
    
  }

  .fact-text {
    margin-bottom: 30px;
  }