<mat-card class="fact-card">
    <img mat-card-image src="../../../assets/images/cat1.jpg">
    <mat-card-content class="fact-card-content">
      <p>
        cat facts will go here dude!cat facts will go here dude!cat facts will go here dude!
        cat facts will go here dude!cat facts will go here dude!cat facts will go here dude!
        cat facts will go here dude!cat facts will go here dude!cat facts will go here dude!
        cat facts will go here dude!cat facts will go here dude!cat facts will go here dude!
        cat facts will go here dude!cat facts will go here dude!cat facts will go here dude!
        cat facts will go here dude!cat facts will go here dude!cat facts will go here dude!
      </p>
    </mat-card-content>
    <mat-card-actions class="fact-card-actions">
      <button mat-raised-button color="primary">SAVE</button>
    </mat-card-actions>
  </mat-card>